services:
  db:
    image: postgres:18
    container_name: mini_s3_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql

  minio:
    image: minio/minio:latest
    container_name: mini_s3_minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  app:
    build: .
    container_name: mini_s3_app
    depends_on:
      - db
      - minio
    env_file: .env
    ports:
      - "${PORT}:${PORT}"

volumes:
  db_data:
  minio_data: